<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <a href="#" class="menu-logo">
    <img src="./../../../assets/img/logo.png" alt="Voll Med"/>
  </a>

  <div class="menu">
    <ul>
      <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['home']">
          Início
        </a>
      </li>
      <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['medicos']">
          Médicos
        </a>
      </li>
      <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['pacientes']">
          Pacientes
        </a>
      </li>
      <li routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['consultas']">
          Consultas
        </a>
      </li>
      <li *ngIf="isSuperUser()" routerLinkActive="active-menu" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['usuarios']">
          Usuários
        </a>
      </li>
    </ul>
    <ul>
      <div class="dv-imgUser" [mat-menu-trigger-for]="menu">
        <img [src]="usuario!.imagem != null ? usuario!.imagem : './../../../../assets/img/placeholder-user.png'" alt="Imagem do usuário">
      </div>
    </ul>
  </div>
</nav>
<mat-divider></mat-divider>

<mat-menu #menu="matMenu" class="matMenu">
  <div class="container-menu">
    <div class="container-user">
      <div class="dv-imgUser-large">
        <img [src]="usuario!.imagem != null ? usuario!.imagem : './../../../../assets/img/placeholder-user.png'" alt="Imagem do usuário">
      </div>
      <div class="user-infos">
        <span class="user-name">{{usuario?.nome}}</span>
        <span class="user-email">{{usuario?.login}}</span>
      </div>
    </div>
    <button mat-menu-item>
      <span>Minha conta</span>
    </button>
      <span>&nbsp;</span>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </div>

</mat-menu>

<router-outlet></router-outlet>
