<div class="container">
  <div class="dv-span-home">
    <div class="dv-span-btn-home">
      <span style="font-size: 20px; color: var(--grey);">Escolha qual seção deseja iniciar:</span>
    </div>
  </div>
  <div class="dv-btn-home" (click)="redirectMed()">
    <fa-icon class="icons-btn-home" [icon]="faUserMd"></fa-icon>
    <div class="dv-span-btn-home">
      <span>Médicos(as)</span>
    </div>
  </div>
  <div class="dv-btn-home" (click)="redirectPac()">
    <fa-icon  class="icons-btn-home" [icon]="faUser"></fa-icon>
    <div class="dv-span-btn-home">
      <span>Pacientes</span>
    </div>
  </div>
  <div class="dv-btn-home" (click)="redirectCon()">
    <fa-icon  class="icons-btn-home" [icon]="faCalendarDays"></fa-icon>
    <div class="dv-span-btn-home">
      <span>Consultas</span>
    </div>
  </div>
</div>
