@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background: linear-gradient(135deg, rgba(30,29,31,1) 0%, #308873 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    max-height: 400px;
    max-width: 400px;
    border: 1px solid #F4EEFF;
    border-radius: 10px 10px 0px 0px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #F4EEFF;
}
.card{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card .logo {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.card .input-container{
    margin: 2rem  0;
    display: flex;
    position: relative;
}

.card img {
  height: 150px;
  display: flex;
  position: relative;
}
.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card__face--back {
    transform: rotateY(180deg);
  }

.icon-wrapper{
  display: flex;
  align-items: center;
    background: #308873;
    width: 30px;
    height: 34px;
    border-radius: 5px 0px 0px 5px;
}
.icon-wrapper fa-icon{
    font-size: 15px;
    padding: 7px;
    padding-top: 7px;
    color: #F4EEFF;
}
#UserEmail , #UserSenha{
    background: transparent;
    border: 1px solid #135f4d;
    width: 100%;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 0px 5px 5px 0px;
}
input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #808080;
}
 input[type="checkbox"]:checked {
    position: relative;
    background: none;
}
input[id="checkbox"]:checked::after {
    position: absolute;
    top: 0.28rem;
    left: 0.11rem;
    content: "";
    width: 10px;
    height: 3px;
    border: 3px solid #308873;
    border-right: none;
    border-top: none;
    transform: rotate(309deg);
}

.input-container label{
    font-size: 11px;
    padding: 4px;
}

.b-sign{
    color : #ffffff;
    background: #308873;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    position: absolute;
    right: 0;
    bottom: -20px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.b-sign:hover{
  background: #135f4d;
}

.i-more{
    position: absolute;
    right: 1%;
    top: 0%;
}
.i-more fa-icon{
    font-size:24px;
    color: #424874;
    cursor: pointer;
}
.b-support{
    background: #DCD6F7;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 2rem 0;
    font-size: 14px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
.b-cta{
    color : #DCD6F7;
    background: #308873;
    display: block;
   text-align: center;
    margin: 2rem 0;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    #box{

        margin-left: 20px;
        margin-right: 20px;
    }
}
